ZStack-Smart-2.5.2b/_iss/
ZStack-Smart-2.5.2b/documents/
ZStack-Smart-2.5.2b/Projects/zstack/Applications/GenericApp/
ZStack-Smart-2.5.2b/Projects/zstack/Applications/SimpleApp/
ZStack-Smart-2.5.2b/Projects/zstack/Applications/SmartApp/CC2530DB/bin
ZStack-Smart-2.5.2b/Projects/zstack/Applications/SmartApp/CC2530DB/settings
ZStack-Smart-2.5.2b/Projects/zstack/Applications/SmartApp/CC2530DB/Devices/settings
ZStack-Smart-2.5.2b/Projects/zstack/Samples/*/CC2530DB/*EB
ZStack-Smart-2.5.2b/Projects/zstack/Samples/*/CC2530DB/settings
*.dep

ZStack-Smart-1.2.1/
TIMAC-Smart-1.4.0a/
